<%
unless (controller_name=='account' && action_name=='login') ||
  (controller_name=='my') ||
  (controller_name=='account' && action_name=='lost_password')
%>
<% if Additionals.settings[:add_go_to_top] %>
<a href="#gototop" class="gototop"><%= l(:label_go_to_top) %></a>
<% end %>
<% end %>
