javascript:
  $(function() {
    // when the #search field changes
    $('#search').live_observe_field(2, function() {
      var form = $('#query_form'); // grab the form wrapping the search bar.
      var url = form.attr('action');
      form.find('[name="c[]"] option').each(function(i, elem) {
        $(elem).attr('selected', true)
      })
      var formData = form.serialize();
      form.find('[name="c[]"] option').each(function(i, elem) {
        $(elem).attr('selected', false)
      })
      $.get(url, formData, function(data) { // perform an AJAX get, the trailing function is what happens on successful get.
        $("#query-result-list").html(data); // replace the "results" div with the result of action taken
      });
    });
  });
