.DS_Store
.buildpath
*.gem
coverage/
tmp/
Gemfile.lock
.project
.vscode
.bundle
.settings/
docs/_build
docs/_static
docs/_templates
.enable_*
/node_modules
/yarn.lock
rails_best_practices_output.html
