- if @issue.editable? && Additionals.setting?(:issue_fast_description_edit)
  - desc_link = link_to sprite_icon('edit', l(:button_edit)),
                        edit_issue_path(@issue),
                        class: 'icon icon-edit',
                        id: 'fast-desc-link'
  javascript:
    $(function() {
      $('.issue .description .contextual')
        .prepend("#{escape_javascript desc_link}");

      $("#fast-desc-link").click(function() {
        $("#issue_description_and_toolbar").parent().find('a').first().hide();
        showAndScrollTo("update", "issue_notes");
        $("#issue_description_and_toolbar").show();
        $("#issue_description").focus();
        return false;
      });
    });

- if show_render_assign_to_me_button @issue
  javascript:
    $('.issue .assigned-to.attribute>.value')
      .append("#{escape_javascript render_assign_to_me_button(@issue)} ");
