- if User.current.logged? && \
     Additionals.setting?(:issue_assign_to_me) && \
     @issue.editable? && \
     @issue.safe_attribute?('assigned_to_id') && \
     @issue.assigned_to_id != User.current.id && \
     @project.assignable_users.detect { |u| u.id == User.current.id }
    = link_to font_awesome_icon('far_user-circle', post_text: l(:button_assign_to_me)),
              issue_assign_to_me_path(@issue), method: :put,
              class: 'assign-to-me'
