- @settings = ActionController::Parameters.new(@settings) unless Rails.version >= '5.2'
' Need Help? :
= link_to(l(:label_additionals_doc),
          'https://additionals.readthedocs.io/en/latest/',
          class: 'external',
          target: '_blank',
          rel: 'noopener')
= render_tabs additionals_settings_tabs
