<%
overview_bottom = Setting.plugin_additionals[:overview_bottom]
unless overview_bottom.blank?
%>
<div style="clear: both;"></div>
<div class="overview-bottom wiki box">
  <%= textilizable(overview_bottom) %>
</div>
<% end %>
