<%
overview_text = Setting.plugin_redmine_tweaks['overview_text']
overview_title = Setting.plugin_redmine_tweaks['oveview_text_title']
unless overview_text.blank?
%>

<div class="box">
<% unless overview_title.blank? %>
  <h3><%= overview_title.html_safe %></h3>
<% end %>
<p>
  <%= textilizable(overview_text).html_safe %>
</p>
</div>

<% end %>