.month-calendar id="month-calendar-#{id}"
  javascript:
    $("#month-calendar-#{id}").datepicker({
      language: "#{locale}",
      calendarWeeks: #{options[:show_weeks]},
      todayHighlight: true,
      multidate: true,
      disableTouchKeyboard: true,
      defaultViewDate: {
        year: #{options[:year]},
        month: #{options[:month]},
        day: 1
      }
    });
  - unless selected.empty?
    javascript:
      $('#month-calendar-#{id}').datepicker('setDates', #{selected});
