.cryptocompare
  javascript:
    var scripts = document.getElementsByTagName("script");
    var embedder = scripts[scripts.length - 1];
    (function() {
      var appName = encodeURIComponent(window.location.hostname);
      if (appName == "") {
        appName = "local";
      }
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      var theUrl = "#{raw url}";
      s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
      embedder.parentNode.appendChild(s);
    })();
