<!-- TradingView Widget BEGIN -->
<script type="text/javascript" src="https://d33t3vvu2t2yu5.cloudfront.net/tv.js"></script>
<div style="display: inline-block;"></div>
<script type="text/javascript">
new TradingView.widget(<%= raw options.to_json %>);
</script>
<!-- TradingView Widget END -->
