<div id="<%= name %>_tag_candidates" class="autocomplete"></div>
<%= javascript_tag do %>
$('<%= id %>').tagit({
 tagSource: function(search, showChoices) {
   var that = this;
   $.ajax({
     url: '<%= send("auto_complete_#{name}_tags_url", @project) %>',
     data: {q: search.term},
     success: function(choices) {
       showChoices(that._subtractArray(jQuery.parseJSON(choices), that.assignedTags()));
     }
     });
   },
});
<% end %>
