.autocomplete id="#{name}_tag_candidates"
- tagit_url = send("auto_complete_#{name}_tags_url", @project)
javascript:
  $("#{id}").tagit({
   tagSource: function(search, showChoices) {
     var that = this;
     $.ajax({
       url: "#{tagit_url}",
       data: { q: search.term },
       success: function(choices) {
         showChoices(that._subtractArray(jQuery.parseJSON(choices), that.assignedTags()));
       }
       });
     },
  });
