  <% if @users_by_role.any? %>

  <div class="members box">
    <h3><%=l(:label_member_plural)%></h3>
    <p><% @users_by_role.keys.sort.each do |role| %>
    <% if !role.permissions.include?(:hide_in_memberbox) ||
      (role.permissions.include?(:hide_in_memberbox) && User.current.allowed_to?(:show_hidden_roles_in_memberbox, @project)) %>
    <%=h role %>: <%= @users_by_role[role].sort.collect{|u| link_to_user u}.join(", ").html_safe %><br />
    <% end %>
    <% end %></p>
  </div>
  
  <% end %>
