<%

wiki_skeletal = Setting.plugin_redmine_tweaks['project_wiki_skeletal']
skeletal_title = Setting.plugin_redmine_tweaks['project_wiki_skeletal_title']
unless wiki_skeletal.blank?
%>

<div class="box">
<% unless skeletal_title.blank? %>
  <h3><%= skeletal_title.html_safe %></h3>
<% end %>
<p>
  <%= textilizable(wiki_skeletal).html_safe %>
</p>
</div>

<% end %>