<%

wiki_skeletal = ''
skeletal_title = ''
wiki_skeletal << Setting.plugin_redmine_tweaks['project_wiki_skeletal'].to_s
skeletal_title << Setting.plugin_redmine_tweaks['project_wiki_skeletal_title'].to_s
unless wiki_skeletal.empty?
%>

<div class="box">
<% unless skeletal_title.empty? %>
  <h3><%= skeletal_title.html_safe %></h3>
<% end %>
<p>
  <%= textilizable(wiki_skeletal).html_safe %>
</p>
</div>

<% end %>