/* ICONS */
#admin-menu a.additionals::before {
  font-size: 1.3em;
  padding-right: 4px;
}

#admin-menu a.additionals::before {
  font-family: FontAwesome;
  font-weight: normal;
  content: "\f085"; /* fa-cogs */
}

#admin-menu a.additionals {
  padding-left: 0;
}

/* Mobile menu style FontAwesome icon */
.flyout-is-active #admin-menu li a.additionals {
  padding-left: 8px !important;
}

.nodata.nodata-left { text-align: left; }

/* Go to top link */
.gototop {
  border-top: 1px solid #eee;
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  text-align: right;
  clear: both;
}

/* Footer */
.additionals-footer {
  text-align: center;
  font-size: 90%;
}

.month-calendar {
  display: inline-block;
}

.login-additionals {
  margin-left: auto;
  margin-right: auto;
  max-width: 490px;
  font-size: 95%;
}

/* Legacy smilie classes */

.smiley {
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.smiley-smiley {
  background-image: url(../images/smileys/smiley.png);
}

.smiley-smiley2 {
  background-image: url(../images/smileys/smiley2.png);
}

.smiley-laughing {
  background-image: url(../images/smileys/smiley-grin.png);
}

.smiley-laughing2 {
  background-image: url(../images/smileys/smiley-laughing2.png);
}

.smiley-crying {
  background-image: url(../images/smileys/smiley-cry.png);
}

.smiley-sad {
  background-image: url(../images/smileys/smiley-sad.png);
}

.smiley-wink {
  background-image: url(../images/smileys/smiley-wink.png);
}

.smiley-cheeky {
  background-image: url(../images/smileys/smiley-razz.png);
}

.smiley-shock {
  background-image: url(../images/smileys/smiley-eek.png);
}

.smiley-annoyed {
  background-image: url(../images/smileys/smiley-annoyed.png);
}

.smiley-confuse {
  background-image: url(../images/smileys/smiley-confuse.png);
}

.smiley-straight {
  background-image: url(../images/smileys/smiley-neutral.png);
}

.smiley-embarrassed {
  background-image: url(../images/smileys/smiley-red.png);
}

.smiley-kiss {
  background-image: url(../images/smileys/smiley-kiss.png);
}

.smiley-angel {
  background-image: url(../images/smileys/smiley-angel.png);
}

.smiley-evil {
  background-image: url(../images/smileys/smiley-evil.png);
}

.smiley-rock {
  background-image: url(../images/smileys/smiley-cool.png);
}

.smiley-rose {
  background-image: url(../images/smileys/rose.png);
  width: 24px;
  height: 24px;
}

.smiley-check {
  background-image: url(../images/smileys/check.png);
}

.smiley-exclamation {
  background-image: url(../images/smileys/exclamation-red-frame.png);
}

.smiley-question {
  background-image: url(../images/smileys/question-frame.png);
}

.smiley-success {
  background-image: url(../images/smileys/success-frame.png);
}

.smiley-failure {
  background-image: url(../images/smileys/failure-frame.png);
}

/* TAGs */

ul.tags {
  list-style: none;
  padding: 0;
}

.tag-label-color {
  padding: 2px 4px;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  font-size: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.tag-label-color a::before {
  font-family: FontAwesome;
  font-size: 1em;
  font-weight: normal;
  content: "\f02b"; /* fa-tag */
  padding-right: 3px;
  color: #fff;
}

ul.tags li { margin: 0.25em 0; }

div.tags .tag-pass-1 { font-size: 0.8em; }
div.tags .tag-pass-2 { font-size: 0.9em; }
div.tags .tag-pass-3 { font-size: 1em; }
div.tags .tag-pass-4 { font-size: 1.1em; }
div.tags .tag-pass-5 { font-size: 1.2em; }
div.tags .tag-pass-6 { font-size: 1.3em; }
div.tags .tag-pass-7 { font-size: 1.4em; }
div.tags .tag-pass-8 { font-size: 1.5em; }

.tag-count { font-size: 0.75em; }
.tag-label-color a { color: white; }

.tagit.ui-widget {
  font-size: 1em;
  margin: 0;
}

ul.tagit li.tagit-choice {
  color: #505050;
  font-weight: normal;
}

ul.tagit li.tagit-choice:hover,
ul.tagit li.tagit-choice.remove {
  border-color: #6d95e0;
}

ul.tagit input[type="text"] {
  background: transparent;
}
