/*
ClipboardJS
*/

.clipboard_button {
  display: block;
  float: left;
  position: relative;
  padding: 0;
  text-align: center;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  width: 24px;
  height: 23px;
}

.clipboard_button img {
  padding-top: 4px;
  padding-left: 5px;
  display: block;
}
