.nodata.nodata-left { text-align: left; }
#admin-menu a.tweaks { background-image: url(../images/tweaks.png); }

/* Go to top link */
.gototop {
  border-top: 1px solid #eee;
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  text-align: right;
  clear: both;
}

/* Footer */
.tweak-footer {
  text-align: center;
  font-size: 90%;
}

.month-calendar {
  display:inline-block;
}

.login-tweaks {
  margin-left: auto;
  margin-right: auto;
  max-width: 490px;
  font-size: 95%;
}
