template data-remote-update-action='remove' data-remote-update-target="#block-#{@block}"

template data-remote-update-action='replace' data-remote-update-target='#block-select'
  = dashboard_block_select_tag @dashboard
