javascript:
  jsToolBar.prototype.elements.macros = {
    type: 'button',
    title: '#{l(:label_macro_plural)}',
    fn: {
      wiki: function() {
        var This = this;
        this.macroMenu(function(macro){
          This.encloseLineSelection('{{' + macro + '(', ')}}');
        });
      }
    }
  }

  /* Macro menu buttons */
  jsToolBar.prototype.macroMenu = function(fn){
    var macroList = ["#{@additionals_macro_list.join('", "').html_safe}"];
    var menu = $("<ul style='position:absolute;'></ul>");
    for (var i = 0; i < macroList.length; i++) {
      $("<li></li>").text(macroList[i]).appendTo(menu).mousedown(function(){
        fn($(this).text());
      });
    }
    $("body").append(menu);
    menu.menu().width(150).position({
      my: "left top",
      at: "left bottom",
      of: this.toolNodes['precode']
    });
    $(document).on("mousedown", function() {
      menu.remove();
    });
    return false;
  };
